.slideshow-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items to the top */
    gap: 2rem; /* Add gap between slideshows */
    margin-top: 1rem; /* Add top margin for better spacing */
    padding-left: 1rem; /* Add left padding */
    padding-right: 1rem; /* Add right padding */
  }
  
 
    .slideshow {
        position: relative;
        width: 32%; /* 1/3 of the page width */
        height: 700px; /* Set a fixed height */
        display: flex;
        flex-direction: column;
        align-items: flex-start; /* Align items to the top */
        justify-content: flex-start; /* Ensure content starts at the top */
        margin: auto; 
    }
  
  .slideshow-image {
    width: 95%;
    border-radius: 10px;
  }
  
  .about .slideshow-caption {
    text-align: center;
    font-size: .8em;
    color: #d7e1df;
    margin-top: 10px;
  }
  